{% extends 'base.html.twig' %}

{% block title %}crear
{% endblock %}

{% block body %}

	<h1>Registro</h1>
    {# {{form_start(form)}}
        {{form_row(form.nombre)}}
        {{form_row(form.apellido)}}
        {{form_row(form.edad)}}
    {{form_end(form)}} #}
    {{form(formulario)}}
{% endblock %}
